.opening {
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "Koulen", sans-serif;

	&__text {
		display: flex;
		flex-grow: 1;
		justify-content: left;
		align-items: center;
		width: 100%;
		// height: 19.8%;
		position: relative;
		color: white;
		background-color: #acacac;
		// font-weight: 600;

		&:not(:last-child)::after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 0.3vh;
			background-color: #9c9c9c;
		}

		// &:nth-child(odd) {
		// 	color: black;
		// 	background-color: yellow;
		// 	font-weight: 600;
		// }
		// &:nth-child(even) {
		// 	color: yellow;
		// 	background-color: black;
		// 	font-weight: 500;
		// }
	}

	p {
		margin: 0;
		padding: 0;
		font-size: 18vh;
		line-height: 100%;
		white-space: nowrap;
		text-transform: uppercase;
	}

	&.scroll &__text {
		&:nth-child(odd) {
			p:nth-child(1) {
				animation: loop-scroll-1 60s linear infinite;
				animation-delay: -60s;
			}
			p:nth-child(2) {
				animation: loop-scroll-2 60s linear infinite;
				animation-delay: -30s;
			}
		}

		&:nth-child(even) {
			p:nth-child(1) {
				animation: loop-scroll-1 80s linear infinite;
				animation-delay: -80s;
				animation-direction: reverse;
			}
			p:nth-child(2) {
				animation: loop-scroll-2 80s linear infinite;
				animation-delay: -40s;
				animation-direction: reverse;
			}
		}
	}
}

@keyframes loop-scroll-1 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes loop-scroll-2 {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-200%);
	}
}
