.works-area {
	float: left;
	width: 0;
	height: 100%;
	background-color: white;
	position: relative;
	z-index: 1;

	@include respond(verti) {
		position: absolute;
		top: 0;
		width: 100%;
		height: 0%;
	}

	&__bar {
		position: absolute;
		background-color: white;
		width: 1.5rem;
		height: 100%;
		left: 100%;
		border-radius: 0 1.2rem 1.2rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		box-shadow: -1px 0px 10px 1px rgba(149, 149, 149, 0.24);
		z-index: 1;
		cursor: pointer;

		@include respond(verti) {
			width: 100%;
			height: 1.5rem;
			top: 100%;
			left: 0;
			flex-direction: row;
			border-radius: 0 0 1.2rem 1.2rem;
		}

		span {
			line-height: 100%;
			font-size: 0.8rem;
			font-weight: 600;
			color: rgb(25, 25, 25);
			writing-mode: vertical-rl;
			transform: rotate(180deg);
			margin-top: 2.5rem;

			@include respond(verti) {
				writing-mode: horizontal-tb;
				transform: rotate(0);
				margin: 0;
				margin-left: 2.5rem;
			}
		}

		&-arrow {
			transform: rotate(-90deg);
			margin-bottom: 3rem;
			transition: transform 500ms;
			position: relative;

			&.unfold {
				transform: rotate(90deg);
				transition: transform 500ms 500ms;
			}

			img {
				height: 0.4rem;
			}

			img:nth-child(1) {
				position: absolute;
				top: 5px;
			}

			@include respond(verti) {
				transform: rotate(0deg);
				margin: 0;
				margin-right: 3rem;

				&.unfold {
					transform: rotate(180deg);
				}
			}
		}
	}

	&__container {
		opacity: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		font-size: 1rem;
	}
}
