@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Mulish:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 100%;
	font-family: "Mulish", sans-serif;

	@include respond(tablet) {
		font-size: 95%;
	}

	@include respond(phone) {
		font-size: 90%;
	}
}

body {
	overflow: hidden;
	box-sizing: border-box;
}

#root {
	width: 100%;
}

img,
video {
	pointer-events: none;
	-webkit-user-select: none; /* Safari */
	-webkit-touch-callout: none;
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.simplebar-scrollbar::before {
	background-color: rgb(150, 150, 150);
}
